@use '../../../styles/_variables' as *;

.stroke-width-item {
	span {
		width: 18px;
		height: 18px;
		display: block;
	}
	div[data-state='on'] {

			background: $color-primary!important;

		svg {
			color: var(--rf-text-contrast) !important;
			fill: var(--rf-text-contrast) !important;
		}
	}
	div[data-state='off'] {
		svg {
			fill: var(--rf-text-strong);
		}
	}
}

.stroke-icon svg {
	text-align: center;
	margin: auto;
	display: block;
	width: 100%;
	height: 100%;
}